* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
}

body {
    background: #000;
    background: rgb(0, 0, 1);
    background: linear-gradient(180deg, rgba(0, 0, 1, 1) 15%, rgba(34, 33, 33, 1) 92%, rgba(131, 131, 131, 1) 100%);
    display: flex;
    flex-direction: column;

}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 0 50px 0;
    height: 50px;
    position: fixed;
    width: 100%;
    background-color: #000;
}

button {
    border: none;
    background: none;
    outline: none;
    text-decoration: none;
    cursor: pointer;
    width: 50px;
    height: 50px;
    font-size: 20px;
}

a {
    text-decoration: none;
}

button:hover {
    opacity: 0.8;
}

button:active {
    opacity: 0.5;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(0, 0, 1);
    background: linear-gradient(180deg, rgba(0, 0, 1, 1) 15%, rgba(34, 33, 33, 1) 92%, rgba(131, 131, 131, 1) 100%);

}

h1 {
    margin-top: 40px;
    font-size: 45px;
}

#aboutme {
    margin: 0 200px;
    margin-bottom: 200px;
}


#projetos {
    margin-bottom: 70px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 200px;
}

p {
    text-align: center;
    font-size: 18px;
    font-style: oblique;
}

img {
    width: 350px;
    height: 240px;
    cursor: pointer;
}

.carrosel {
    width: 500px;
    height: 480px;
    margin-top: 50px;
    display: grid;
    grid-auto-flow: column;
    gap: 10rem;
    overflow-y: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    scroll-behavior: smooth;
    padding-left: 120px;
    margin-bottom: 150px;
}

.card {
    width: 80%;
    height: 90%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;

}

.card h2 {
    margin-bottom: 10px;
}

figcaption {
    text-align: center;
    margin-top: 10px;
}

.link-repo img {
    margin-top: 30px;
    width: 50px;
    height: 50px;
}

figure img {
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    margin-bottom: 5px;
}

figure:hover img {
    margin-bottom: 10px;
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    margin-top: 15px;
}

figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.carrosel::-webkit-scrollbar {
    width: 15px;
    height: 12px;
    background-color: #363636;
}

.carrosel::-webkit-scrollbar-button {
    border: 1px #000 solid;
}

.carrosel::-webkit-scrollbar-track {
    background: #363636;
}

.carrosel::-webkit-scrollbar-track-piece {
    background: #363636;
}

.carrosel::-webkit-scrollbar-thumb {
    background: #000;
    border-radius: 3px;
}

.carrosel::-webkit-scrollbar-corner {
    background: #1E90FF;
    border-radius: 3px;
}

#contato {
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

#contato img {
    width: 50px;
    height: 50px;
}

#contato h1 {
    margin-bottom: 50px;
    text-align: center;
    display: none;
}

.contato2 {
    width: 50px;
    height: 50px;
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    gap: 60px;
    justify-content: center;
}



.link-contato img {
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.2s;
    margin-bottom: 5px;
}

.link-contato:hover img {
    margin-bottom: 10px;
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    margin-top: 15px;
}

.perfil {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 150px;
}

.name {
    margin-bottom: 100px;
    margin-top: 50px;
}

footer p {
    font-size: 10px;
    font-style: italic;
    margin-bottom: 5px;
}


@media only screen and (max-device-width: 768px) {

    body {
        background: rgb(0, 0, 1);
        background: linear-gradient(180deg, rgba(0, 0, 1, 1) 15%, rgba(34, 33, 33, 1) 92%, rgba(131, 131, 131, 1) 100%);
        display: flex;
        flex-direction: column;

    }

    #aboutme {
        margin: 0 100px;
        margin-bottom: 100px;
    }

    .carrosel::-webkit-scrollbar {
        display: none;
     }
     
     .carrosel::-webkit-scrollbar-button {
         display: none;
     }
     
     .carrosel::-webkit-scrollbar-track {
         display: none;
     }
     
     .carrosel::-webkit-scrollbar-track-piece {
         display: none;
     }
     
     .carrosel::-webkit-scrollbar-thumb {
         display: none;
     }
     
     .carrosel::-webkit-scrollbar-corner {
         display: none;
     }


}


@media only screen and (max-device-width: 600px) {

    body {
        background: rgb(0, 0, 1);
        background: linear-gradient(180deg, rgba(0, 0, 1, 1) 15%, rgba(34, 33, 33, 1) 92%, rgba(131, 131, 131, 1) 100%);
        display: flex;
        flex-direction: column;

    }

    #container {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: rgb(0, 0, 1);
        background: linear-gradient(180deg, rgba(0, 0, 1, 1) 15%, rgba(34, 33, 33, 1) 92%, rgba(131, 131, 131, 1) 100%);
    }

    h1 {
        font-size: 35px;
    }

    .name {
        margin-top: 180px;
        font-size: 35px;
    }

    .perfil {
        display: none;
    }

    #aboutme {
        margin: 0 50px;
        margin-bottom: 100px;
    }

    #projetos {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-top: 100px;
        margin-bottom: 90px;
    }

    .contato2 {
        width: 50px;
        height: 50px;
        margin-top: 50px;
        display: flex;
        flex-direction: row;
        gap: 35px;
        justify-content: center;
    }

    #contato h1 {
        display: none;
    }

    #contato {
        margin-bottom: 45px;
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    nav {
        padding-top: 25px;
        display: flex;
        flex-direction: row;
        margin-bottom: 40px;
        height: 50px;
        position: fixed;
        width: 100%;
        background-color: #000;
        padding-right: 30px;
    }

    button {
        border: none;
        background: none;
        outline: none;
        text-decoration: none;
        cursor: pointer;
        width: 35px;
        height: 40px;
        font-size: 18px;
        display: flex;
        flex-direction: row;

    }

    .carrosel {
        width: 300px;
        height: 530px;
        margin-top: 30px;
        display: grid;
        grid-auto-flow: column;
        gap: 10rem;
        overflow-y: auto;
        overscroll-behavior-x: contain;
        scroll-snap-type: x mandatory;
        scrollbar-width: none;
        scroll-behavior: smooth;
        padding-left: 60px;
        margin-bottom: 60px;
    }

    .carrosel::-webkit-scrollbar {
       display: none;
    }
    
    .carrosel::-webkit-scrollbar-button {
        display: none;
    }
    
    .carrosel::-webkit-scrollbar-track {
        display: none;
    }
    
    .carrosel::-webkit-scrollbar-track-piece {
        display: none;
    }
    
    .carrosel::-webkit-scrollbar-thumb {
        display: none;
    }
    
    .carrosel::-webkit-scrollbar-corner {
        display: none;
    }
    

    .card {
        width: 60%;
        height: 70%;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-top: 10px;

    }

    .perfil {
        width: 175px;
        height: 175px;
        border-radius: 50%;
        margin-top: 100px;
    }

    p {
        text-align: center;
        font-size: 18px;
        font-style: oblique;
        font-size: 16px;
    }

    img {
        width: 300px;
        height: 265px;
    }

    .card h2 {
        margin-bottom: 15px;
        font-size: 16px;
    }

}
